.coinGeckoTitle {
  text-align: center;
}

.coinGeckoCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .coinGeckoCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid gray;
    padding: 20px;
    margin: 20px;
    width: 500px;

    span {
      text-decoration: underline;
      font-weight: bold;
    }

    .coinGeckoSymbol {
      flex: 50%;
      margin-right: 20px;
    }
  }
}