.coinGeckoCardDetails {
  padding: 20px;

  span {
    font-weight: bold;
    text-decoration: underline;

    &.coinGeckoCardDescription {
      font-weight: normal;
    }
  }

  .coinGeckoBackToHome {
    text-align: center;

    button {
      padding: 10px 20px;
    }
  }
}
